<?xml version='1.0' encoding='utf-8'?>
<widget id="io.worc.dev" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>WishGift App</name>
    <description>
	Wihlist application that allows users to add real world 	items they find in shops and add them to their wishlist 	adding custom filters and different wishlists to organise 	items.
    </description>
    <author email="gola1_20@uni.worc.ac.uk" 	href="http://cordova.io">
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
